body {
  width: 100%;
  height: 100%;
  margin: 0;
  }

h1 {text-align: center;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  }

nav a {
  background-color: #DFEBED;
  margin-left: 10px;
  margin-right: 10px;
  }

figure figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  text-align: center;
  }


#featured-property p {
  display: block;
  width: 600px;
    margin-left: auto;
  margin-right: auto;
    text-align: center;
  
}

#details div{
  background-color: red;
  display: block;
  width: 25%;
  float: left;
  
}
