body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#featured-property {
  text-align: center;
}

#featured-property > p {
  width: 800px;
  margin: auto;
}

nav {
  text-align: center;
}

nav > a {
  background: grey;
}

#details {
  text-align: center;
  background: red;
}
#details > div {
  display: inline-block;
  margin: 0% 5% 0% 5%;
}