body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, nav {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

img {
  display: block;
margin-left: auto;
margin-right: auto;
width: 900px;
}

figcaption {
  font-size: 12px;
  text-align: center;
}
p featured-property {
  color: blue;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*word-wrap: break-word;*/
  width: 800px;
}
