/* body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}
nav a {
  background-color: rgb(211,211,211);
  margin-left: 10px;
  margin-right: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

#featured-property p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

footer {
  text-align: center;

}
footer div {
  float: left;
  display: inline-block;
  width: 25%;
  height: 100%;
  padding: 0px;
  background-color: red; 
} */

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}
nav,
figcaption {
  text-align: center;
}

nav a {
  padding: 0 10px;
  background-color: grey;
  margin: 0 auto;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

#details div{
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}