body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
}

header{
  text-align: center;
}

#featured-property{
  align-items: center;
  text-align: center;
}

a{
  padding: 10px;
  margin-top: 10px;
}
